body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url("resources/images/train_mountain.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3, h4 {
    font-family: Akbaal;
    padding: 20px;
}

.mainTrainSearchForm {
    /*width: 40%;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    /*min-width: 600px;*/
}

.btn-primary {
    width: 100%;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.App {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url('resources/images/train_mountain.png');*/
/*    !*background-size: cover;*!*/
/*    background-attachment: fixed;*/
/*}*/

.card {
    margin-left: auto;
    margin-right: auto;
}

/*.col-md-2 {*/
/*    margin-top: 28px;*/
/*}*/
